<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020919466336-n93dqa2oa64a40l3emsnp540dve8vnhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020919466336-n93dqa2oa64a40l3emsnp540dve8vnhd</string>
	<key>API_KEY</key>
	<string>AIzaSyDo6ZK15vEzXbBRvbT1io3S3DEfw9AL4L4</string>
	<key>GCM_SENDER_ID</key>
	<string>1020919466336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studiobong.n-back</string>
	<key>PROJECT_ID</key>
	<string>n-back-2d8b3</string>
	<key>STORAGE_BUCKET</key>
	<string>n-back-2d8b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020919466336:ios:2e509e8244db0864a43605</string>
</dict>
</plist>